body {
  background-color: #F9E4D4;
}

.otdh1 {
  padding-left: 23px;
}

/* .otdhr {
  border: none;
  border-top-style: dotted;
  border-width: 5px;
} */

.it {
  padding-left: 23px;
}

#itd1, #itd2, #itd3, #itd4, #itd5, #itd6 {
  text-align: left;
}
.dp{
  border-radius: 50%;
}
.dp:hover {
  width: 205px;
}

/* tr-td */

.itd {
  text-align: center;
  vertical-align: middle;
}

/* tr-td */


/* icons */
.icn {
  width: 20px;
}

/* icons */
