body {
  background-color: #FFEDDB;
}

.otdh1 {
  padding-left: 23px;
}

/* .otdhr {
  border: none;
  border-top-style: dotted;
  border-width: 5px;
} */

.it {
  padding-left: 23px;
}

.itd {
  text-align: left;
}
